* {
    box-sizing: border-box;
}

body {
    margin: 0rem;
}

.page_intro {
    padding: 1rem;
}

.contentainer {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    @media (min-width: 550px) {
        width: 80%;
    }
    margin: 0rem auto;
}

.big_image {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}